.direnv/
.claude/settings.local.json

# LaTeX build artifacts
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.pdf
*.pdl
*.bcf
*.blg
*.bbl
*.run.xml
*-SAVE-ERROR
code/*.nixtex

!images/*.pdf

# Beamer
*.nav
*.snm
*.vrb
